version: "2"

services:
  registry:
    image: registry:2
    container_name: "registry-srv"
    volumes:
    - "./registry:/var/lib/registry/"
    - "./auth/:/auth/"
    - "./config.yml:/etc/docker/registry/config.yml"
    expose:
    - 5000
    environment:
    - REGISTRY_AUTH=htpasswd
    - REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
    - REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm
    - REGISTRY_STORAGE_DELETE_ENABLED=true
    restart: "unless-stopped"

  nginx:
    build: ./nginx
    container_name: "registry-nginx"
    ports:
    - "5043:443"
    - "5044:444"
    volumes:
    - ${REGISTRY_SSL_CERT_PATH}:/etc/nginx/ssl
    depends_on:
    - registry
    restart: "unless-stopped"